.App {
    background-color: lightblue;
    text-align: center;
    margin: 10% 25%;
    padding: 25px 25px ;
}

.timer { 
    background-color: white;
    margin: 10% 10%;
    padding: 15px;
    border: 1px solid black;
    font-size:x-large;
}

.reset {
    background-color: lightgrey;
    padding: 10px;
    font-size: large;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10% 10%;
}
  
  .start {
    background-color: green;
    padding: 10px 25px;
    font-size: large;
    color: white;
}
  
  .stop {
    background-color: red;
    padding: 10px 25px;
    font-size: large;
    color: white;
}